body{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    text-align: center;
    background-image: url(../images/versity1.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 980px;
}
h1{
    color:aqua;
    border: 5px solid;
    background: black;
    padding: 10px;
    margin: 250px 550px 25px;
}
a input[type="submit"]{
    color: black;
    font-size: 18px;
    border: 5px solid;
    border-radius: 15px;
    background: whitw;
    margin: 5px 0px;
    padding: 5px 15px;
}
a input[type="submit"]:hover{
    color: chartreuse;
    border: 5px solid;
    border-radius: 15px;
    background: #000000;
    margin: 5px 0px;
    padding: 5px 30px;
    cursor: pointer;
}